<section class="dashboard">section>
  <div class="position-relative">
    <div class="sidebar-wrapper position-fixed">
      <ul class="sidebar-menu">
        <li routerLink="/dashboard">
          <a href="javascript:void(0);">
            <i class="fas fa-adjust mr-4"></i>Dashboard</a>
        </li>
        <li routerLink="/assessments">
          <a href="javascript:void(0);">
            <i class="fas fa-cog mr-4"></i>Assements</a>
        </li>
        <li [routerLink]="['/modules']">
          <a href="javascript:void(0);">
            <i class="fas fa-cog mr-4"></i>Modules</a>
        </li>
        <li [routerLink]="['/people']">
          <a href="javascript:void(0);">
            <i class="fas fa-users mr-4"></i>People</a>
        </li>
        <li [routerLink]="['/settings']">
          <a href="javascript:void(0);">
            <i class="fas fa-cog mr-4"></i>Settings</a>
        </li>
      </ul>
    </div>
    <div class="header-wrapper d-block d-md-none">
      <nav class="navbar navbar-expand fixed-top">
        <div class="nav-item">
          <a class="nav-link toggle-menu toggle-icon" href="javascript:void();">
            <i class="fas fa-bars" style="color: black"></i>
          </a>
        </div>
      </nav>
    </div>
  </div>