<div class="dashboard">
  <div class="content-wrapper">
    <div class="container">
      <h2 class="primary-heading">Dashboard</h2>
      <div class="d-md-flex no-gutters">
        <div class="col-sm-12 col-md-2 col-lg-2 mr-3 mt-3" *ngFor="let list of userList">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-6">
                <i class="far fa-user icon pl-3 pt-4"></i>
              </div>
              <div class="col-6">
                <div class="card-body pl-0">
                  <h5 class="secondary-heading mb-0">{{list.name}}</h5>
                  <p class="card-text custom-text">{{list.number}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 mr-3  mt-3">
          <div class="card">
            <div class="row no-gutters">
              <div class="col-3">
                <i class="far fa-user icon pl-3 pt-4"></i>
              </div>
              <div class="col-4">
                <div class="card-body">
                  <h5 class="secondary-heading mb-0">Cohorts</h5>
                  <p class="card-text custom-text">128</p>
                </div>
              </div>
              <div class="col-4">
                <div class="card-body">
                  <h5 class="secondary-heading mb-0">Cohorts</h5>
                  <p class="card-text custom-text">128</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4  mt-3">

          <div class="card">
            <div class="row no-gutters">
              <div class="col-2">
                <i class="fas fa-tachometer-alt icon pl-3 pt-4"></i>
              </div>
              <div class="col-3">
                <div class="card-body">
                  <h5 class="secondary-heading mb-0">Cohorts</h5>
                  <p class="card-text custom-text">128</p>
                </div>
              </div>
              <div class="col-3">
                <div class="card-body">
                  <h5 class="secondary-heading mb-0">Cohorts</h5>
                  <p class="card-text custom-text">128</p>
                </div>
              </div>
              <div class="col-3">
                <div class="card-body">
                  <h5 class="secondary-heading mb-0">Cohorts</h5>
                  <p class="card-text custom-text">128</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Main Content Wrapper Starts  -->
    <!-- NavTab Section Starts-->
    <div class="container mt-1 position-relative">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" aria-selected="true">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#cohort" role="tab" aria-selected="false">Cohort</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" data-toggle="tab" href="#org-level" role="tab" aria-selected="false">Org-Level</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#individual" role="tab" aria-selected="false">Indivisual Report
          </a>
        </li>
      </ul>
      <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="overview" role="tabpanel">This is a overview</div>
        <div class="tab-pane fade" id="cohort" role="tabpanel">This is a cohert</div>
        <div class="tab-pane fade" id="org-level" role="tabpanel">This is a Orglevel</div>
        <div class="tab-pane fade" id="individual" role="tabpanel">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-wrap">
              <div class="dropdown mr-3">
                <button class="btn custom-btn dropdown-toggle pr-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Sales Executive
                  <i class="fas fa-chevron-down ml-4"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                </div>
              </div>
              <div class="dropdown mr-3">
                <button class="btn custom-btn dropdown-toggle pr-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Senior Level
                  <i class="fas fa-chevron-down ml-4"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                </div>
              </div>
              <div class="dropdown mr-3">
                <button class="btn custom-btn dropdown-toggle pr-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Sudsrshan Rao
                  <i class="fas fa-chevron-down ml-4"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                </div>
              </div>
              <div class="dropdown">
                <button class="btn custom-btn dropdown-toggle pr-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Use Case
                  <i class="fas fa-chevron-down ml-4"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="javascript:void(0);">Action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                  <a class="dropdown-item" href="javascript:void(0);">Something else here</a>
                </div>
              </div>
            </div>
            <div>
              <button type="button " class="btn download-btn px-4">
                Download
                <i class="fas fa-arrow-down"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- NavTab Section Ends-->
      <!-- Sales Wrapper Starts  -->
      <div class="container-fluid mt-2 pl-0">
        <div class="sales-wrapper">
          <div class="row ml-0">
            <div class="col-md-6">
              <div class="row">
                <div class="col-7">
                  <h4 class="primary-heading mt-3">Sudarshan Rao</h4>
                  <p>Sales Executive</p>
                  <div class="circle-size m-auto">
                    <img src="assets/images/circle.png" alt="circle121212" class="img-fluid">
                  </div>
                  <div class="row mr-0">
                    <div class="col ">
                      <p class="text-size m-0">Attention</p>
                      <p class="pl-4 pt-4 value m-0">2%
                        <i class="fas fa-angle-down"></i>
                      </p>
                      <p class="pl-0 percentage m-0">98.2%</p>
                    </div>
                    <div class="col p-0">
                      <p class=" text-size m-0">Information processing</p>
                      <p class="pl-4 value m-0">2%
                        <i class="fas fa-angle-down"></i>
                      </p>
                      <p class="pl-0 percentage m-0">98.2%</p>
                    </div>
                    <div class="col p-0">
                      <p class="text-size m-0">Mind-body Co-Ordination</p>
                      <p class="pl-4 value m-0">2%
                        <i class="fas fa-angle-down"></i>
                      </p>
                      <p class="pl-0 percentage m-0">98.2%</p>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <h5 class="pt-3">Top 5 Strenghts</h5>
                  <ul>
                    <li *ngFor="let list of strengthList">
                      <i class="fas fa-users custom-font-icon"></i>{{list.strength}}</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 p-0">
              <div class="row">
                <div class=col-6>
                  <h5 class="pt-3">Benchmark Analysis</h5>
                  <p class="benchmark mb-0">Benchmark Area</p>
                  <ul>
                    <li *ngFor="let list of benchmarkList">
                      <label>{{list.benchmark}}</label>
                      <input type="range" name="points" min="0" max="10">
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <h5 class="pt-3">Top Training Required</h5>
                  <ul>
                    <li *ngFor="let list of strengthList">
                      <i class="fas fa-users custom-font-icon"></i>{{list.strength}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sales Wrapper Ends  -->
    </div>