.circle-size{
    width:100px;
    height:100px;
}
.text-size{
    font-size: 14px;
}
.custom-font-icon{
    background-color: rgb(92,0,138);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    margin-right: 9px;
    color: #fff;

}