/* You can add global styles to this file, and also import other style files */
.dashboard .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .dashboard .sidebar-menu li {
      padding-top: 10px;
      padding-right: 30px;
      padding-bottom: 10px;
      padding-left: 30px; }
      .dashboard .sidebar-menu li:hover {
        background: #30008a; }
      .dashboard .sidebar-menu li a {
        text-decoration: none;
        color: #fff; }
  
  .dashboard .sidebar-wrapper {
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: #5c008a;
    transition: all 0.3s ease-in-out; }
  
  .dashboard .open {
    display: none; }
    .content{
      margin-left: 200px;
    }
  
//   .dashboard .content-wrapper {
//     margin-left: 200px; }
    .dashboard .content-wrapper .primary-heading {
      color: #5c008a; }
    .dashboard .content-wrapper .icon {
      font-size: 34px; }
    .dashboard .content-wrapper .secondary-heading {
      white-space: nowrap;
      color: #b6b6b6; }
    .dashboard .content-wrapper .custom-text {
      font-weight: 700;
      font-size: 20px; }
  
  .dashboard .nav-tabs {
    border-bottom: 3px solid #dee2e6; }
    .dashboard .nav-tabs .nav-item {
      position: relative; }
      .dashboard .nav-tabs .nav-item .nav-link {
        border: none;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px; }
      .dashboard .nav-tabs .nav-item .show .nav-link,
      .dashboard .nav-tabs .nav-item .nav-link.active::after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: #5c008a;
        position: absolute;
        bottom: -2px;
        left: 0px; }
      .dashboard .nav-tabs .nav-item a {
        color: #000; }
        .dashboard .nav-tabs .nav-item a:hover {
          border: none; }
  
  .dashboard .custom-btn {
    border: 1px solid #5c008a;
    color: #5c008a; }
    .dashboard .custom-btn:focus {
      outline: none;
      box-shadow: none; }
    .dashboard .custom-btn:after {
      border: none; }
  
  .dashboard .download-btn {
    background: #b6b6b6;
    color: #fff; }
    .dashboard .download-btn:focus {
      outline: none;
      box-shadow: none; }
  
  .dashboard .sales-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px; }
    .dashboard .sales-wrapper ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .dashboard .sales-wrapper ul li {
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px; }
    .dashboard .sales-wrapper .value {
      color: green;
      font-size: 12px; }
    .dashboard .sales-wrapper .percentage {
      color: #5c008a;
      font-size: 22px; }
  
  .dashboard .benchmark::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5c008a;
    margin-right: 10px; }
  
  @media screen and (max-width: 767px) {
    .dashboard .sidebar-wrapper {
      width: 100%;
      height: 100%;
      top: 50px; }
    .dashboard .content-wrapper {
      margin-top: 55px;
      margin-left: 0px; } }
      // Mixin for the position
@mixin position($top, $right, $bottom, $left) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  // Mixin for the padding
  @mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }
  // Mixin for the margin
  
  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }
  // Mixin for the Size
  
  @mixin size($width, $height) {
    width: $width;
    height: $height;
  }
  // Common Font Colors Variables

$white: #fff;
$light-gray: #b6b6b6;
$gray: #999999;
$black: #000;
$transparent: transparent;
$hover-bg:#30008a;
$main-color:rgb(92,0,138);
$border-color:#dee2e6;
$border:rgba(0,0,0,0.125);

// Media Brack Variables
$break-xl: 1360px;
$break-lg: 1200px;
$break-md: 991px;
$break-sm: 767px;
$break-xs: 480px;

      // Side Bar Wrapper Styles Starts
.dashboard {
    .sidebar-menu {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        @include padding(10px, 30px, 10px, 30px);
        &:hover {
          background: $hover-bg;
        }
  
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
    .sidebar-wrapper {
      @include size(200px, 100%);
      @include position(0, null, null, 0);
      z-index: 1;
      background: $main-color;
      transition: all 0.3s ease-in-out;
    }
    .open {
      display: none;
    }
    // SideBar Wrapper Styles Ends From Here
  
    // Main content Wrapper Styles Starts
    .content-wrapper {
      @include margin(null, null, null, 200px);
      .primary-heading {
        color: rgb(92, 0, 138);
      }
      .icon {
        font-size: 34px;
        color: rgb(92,0,138);
      }
      .secondary-heading {
        white-space: nowrap;
        color:$light-gray;
      }
      .custom-text {
        font-weight: 700;
        font-size: 20px;
      }
    }
    
    // Main content Wrapper Styles Ends 
  
    // Tab Content Styles Starts
    .nav-tabs {
      border-bottom: 3px solid $border-color;
      .nav-item {
        position: relative;
        .nav-link {
          border: none;
         @include padding(20px,20px,20px,20px)
        }
        .show .nav-link,
        .nav-link.active::after{
          content: "";
          display: block;
          width:100%;
          height:3px;
          background: $main-color;
          position: absolute;   
          @include position(null,null,-2px,0px);
  
        }
        a {
          color: $black;
          &:hover {
            border: none;
          }
        }
      }
    }
    .custom-btn {
      border: 1px solid $main-color;
      color: $main-color;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &:after {
        border: none;
      }
    }
      .download-btn {
        background: $light-gray;
        color:$white;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    // Tab Content Styles Ends
    // Sales Wrapper Stylesn Starts
  .sales-wrapper {
    border:1px solid $border;
    border-radius:10px;
    ul{
      list-style: none;
      margin: 0;
      padding:0;
      li {
  @include padding(10px,5px,10px,5px);
      }
    }
    .value{
      color:green;
      font-size:12px;
    }
    .percentage {
      color:$main-color;
      font-size:22px;
    }
  }
  
  .benchmark::before {
    content:'';
    display: inline-block;
    width: 10px;
    height:10px;
    border-radius:50%;
    background:$main-color;
    margin-right:10px;
  }
    // Sales Wrapper Stylesn Ends
    // Media Querys Start From Here
    @media screen and (max-width: $break-sm) {
      .sidebar-wrapper {
        @include size(100%, 100%);
        @include position(50px, null, null, null);
      }
      .content-wrapper {
        @include margin(55px, null, null, 0px);
      }
    }
    // Media Querys Ends From Here
  }